# Importar Pandas

In [4]:
#importa pandas
import pandas as pd

In [5]:
pd.__version__

'1.5.3'

In [7]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\51966\anaconda3\lib\site-packages (1.5.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\51966\anaconda3\lib\site-packages (from pandas) (1.23.5)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\51966\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\51966\anaconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: six>=1.5 in c:\users\51966\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

# Crear una Serie

Explore series en python en el siguiente [link](https://pandas.pydata.org/pandas-docs/stable/user_guide/10min.html) en las primeras lineas del documento

In [8]:
# Crea una Serie de los numeros 10, 20 and 10.
numeros = [10, 20, 10]
serie_numeros = pd.Series(numeros)
print(serie_numeros)

0    10
1    20
2    10
dtype: int64

In [9]:
# Crea una Serie con tres objetos: 'rojo', 'verde', 'azul'
objetos = ['Rojo','Verde','Azul']
serie_objetos = pd.Series(objetos)
print(serie_objetos)

0     Rojo
1    Verde
2     Azul
dtype: object

# Crear un Dataframe

In [12]:
# Crea un dataframe vacío llamado 'df'
import pandas as pd

df = pd.DataFrame()

print(df)

Empty DataFrame
Columns: []
Index: []

In [13]:
# Crea una nueva columna en el dataframe, y asignale la primera serie que has creado
df['Nueva Columna'] = serie_numeros 
print(df)

   Nueva Columna
0             10
1             20
2             10

In [14]:
# Crea otra columna en el dataframe y asignale la segunda Serie que has creado
df['objetos'] = serie_objetos
print(df)

   Nueva Columna objetos
0             10    Rojo
1             20   Verde
2             10    Azul

# Leer un dataframe

In [24]:
# Lee el archivo llamado 'avengers.csv" localizado en la carpeta "data" y crea un DataFrame, llamado 'avengers'.
# El archivo está localizado en "data/avengers.csv"
import pandas as pd
avengers = pd.read_csv('C:\\Users\\51966\\data\\avengers.csv')
print(avengers)

                                                   URL  \
0        http://marvel.wikia.com/Henry_Pym_(Earth-616)
1    http://marvel.wikia.com/Janet_van_Dyne_(Earth-...
2    http://marvel.wikia.com/Anthony_Stark_(Earth-616)
3    http://marvel.wikia.com/Robert_Bruce_Banner_(E...
4     http://marvel.wikia.com/Thor_Odinson_(Earth-616)
..                                                 ...
168   http://marvel.wikia.com/Eric_Brooks_(Earth-616)#
169  http://marvel.wikia.com/Adam_Brashear_(Earth-6...
170  http://marvel.wikia.com/Victor_Alvarez_(Earth-...
171     http://marvel.wikia.com/Ava_Ayala_(Earth-616)#
172         http://marvel.wikia.com/Kaluu_(Earth-616)#

                          nombre  n_apariciones actual  genero  fecha_inicio  \
0      Henry Jonathan "Hank" Pym           1269    YES    MALE          1963
1                 Janet van Dyne           1165    YES  FEMALE          1963
2    Anthony Edward "Tony" Stark           3068    YES    MALE          1963
3            Robert Bruce Banner           2089    YES    MALE          1963
4                   Thor Odinson           2402    YES    MALE          1963
..                           ...            ...    ...     ...           ...
168                  Eric Brooks            198    YES    MALE          2013
169                Adam Brashear             29    YES    MALE          2014
170               Victor Alvarez             45    YES    MALE          2014
171                    Ava Ayala             49    YES  FEMALE          2014
172                        Kaluu             35    YES    MALE          2015

                                                 Notes
0    Merged with Ultron in Rage of Ultron Vol. 1. A...
1    Dies in Secret Invasion V1:I8. Actually was se...
2    Death: "Later while under the influence of Imm...
3    Dies in Ghosts of the Future arc. However "he ...
4    Dies in Fear Itself brought back because that'...
..                                                 ...
168                                                NaN
169                                                NaN
170                                                NaN
171                                                NaN
172                                                NaN

[173 rows x 7 columns]

# Inspeccionar un dataframe

In [26]:
# Muestra las primeras 5 filas del DataFrame.

primeras5filas = avengers.head(5)
print(primeras5filas)

                                                 URL  \
0      http://marvel.wikia.com/Henry_Pym_(Earth-616)
1  http://marvel.wikia.com/Janet_van_Dyne_(Earth-...
2  http://marvel.wikia.com/Anthony_Stark_(Earth-616)
3  http://marvel.wikia.com/Robert_Bruce_Banner_(E...
4   http://marvel.wikia.com/Thor_Odinson_(Earth-616)

                        nombre  n_apariciones actual  genero  fecha_inicio  \
0    Henry Jonathan "Hank" Pym           1269    YES    MALE          1963
1               Janet van Dyne           1165    YES  FEMALE          1963
2  Anthony Edward "Tony" Stark           3068    YES    MALE          1963
3          Robert Bruce Banner           2089    YES    MALE          1963
4                 Thor Odinson           2402    YES    MALE          1963

                                               Notes
0  Merged with Ultron in Rage of Ultron Vol. 1. A...
1  Dies in Secret Invasion V1:I8. Actually was se...
2  Death: "Later while under the influence of Imm...
3  Dies in Ghosts of the Future arc. However "he ...
4  Dies in Fear Itself brought back because that'...

In [ ]:
# Muestra las primeras 10 filas del DataFrame.
primeras10filas = avengers.head(10)
print(primeras10filas)

In [27]:
# Muestra las últimas 5 filas del DataFrame.
ultimas5filas = avengers.tail(10)
print(ultimas5filas)

                                                   URL          nombre  \
163  http://marvel.wikia.com/Tony_Masters_(Earth-616)#    Tony Masters
164  http://marvel.wikia.com/Victor_Mancha_(Earth-6...   Victor Mancha
165  http://marvel.wikia.com/Monica_Chang_(Earth-616)#    Monica Chang
166  http://marvel.wikia.com/Doombot_(Avenger)_(Ear...             NaN
167        http://marvel.wikia.com/Alexis_(Earth-616)#          Alexis
168   http://marvel.wikia.com/Eric_Brooks_(Earth-616)#     Eric Brooks
169  http://marvel.wikia.com/Adam_Brashear_(Earth-6...   Adam Brashear
170  http://marvel.wikia.com/Victor_Alvarez_(Earth-...  Victor Alvarez
171     http://marvel.wikia.com/Ava_Ayala_(Earth-616)#       Ava Ayala
172         http://marvel.wikia.com/Kaluu_(Earth-616)#           Kaluu

     n_apariciones actual  genero  fecha_inicio  \
163            173     NO    MALE          2013
164             75    YES    MALE          2013
165             12    YES  FEMALE          2013
166             14    YES    MALE          2013
167             13    YES  FEMALE          2013
168            198    YES    MALE          2013
169             29    YES    MALE          2014
170             45    YES    MALE          2014
171             49    YES  FEMALE          2014
172             35    YES    MALE          2015

                                                 Notes
163                                                NaN
164  Died in Avengers_A.I._Vol_1_4. Returned in Ave...
165                                                NaN
166                                                NaN
167                                                NaN
168                                                NaN
169                                                NaN
170                                                NaN
171                                                NaN
172                                                NaN

# Tamaño del DataFrame

In [28]:
# Muestra el tamaño del DataFrame
tamaño = avengers.shape
print("Número de filas:", tamaño[0])
print("Número de columnas:", tamaño[1])

Número de filas: 173
Número de columnas: 7

# Data types en un DataFrame

In [29]:
# Muestra los data types del dataframe
data_types = avengers.dtypes
print(data_types)

URL              object
nombre           object
n_apariciones     int64
actual           object
genero           object
fecha_inicio      int64
Notes            object
dtype: object

# Editar el indice (index)

In [30]:
# Cambia el indice a la columna "fecha_inicio".
avengers = avengers.set_index('fecha_inicio')
print(avengers)

                                                            URL  \
fecha_inicio
1963              http://marvel.wikia.com/Henry_Pym_(Earth-616)
1963          http://marvel.wikia.com/Janet_van_Dyne_(Earth-...
1963          http://marvel.wikia.com/Anthony_Stark_(Earth-616)
1963          http://marvel.wikia.com/Robert_Bruce_Banner_(E...
1963           http://marvel.wikia.com/Thor_Odinson_(Earth-616)
...                                                         ...
2013           http://marvel.wikia.com/Eric_Brooks_(Earth-616)#
2014          http://marvel.wikia.com/Adam_Brashear_(Earth-6...
2014          http://marvel.wikia.com/Victor_Alvarez_(Earth-...
2014             http://marvel.wikia.com/Ava_Ayala_(Earth-616)#
2015                 http://marvel.wikia.com/Kaluu_(Earth-616)#

                                   nombre  n_apariciones actual  genero  \
fecha_inicio
1963            Henry Jonathan "Hank" Pym           1269    YES    MALE
1963                       Janet van Dyne           1165    YES  FEMALE
1963          Anthony Edward "Tony" Stark           3068    YES    MALE
1963                  Robert Bruce Banner           2089    YES    MALE
1963                         Thor Odinson           2402    YES    MALE
...                                   ...            ...    ...     ...
2013                          Eric Brooks            198    YES    MALE
2014                        Adam Brashear             29    YES    MALE
2014                       Victor Alvarez             45    YES    MALE
2014                            Ava Ayala             49    YES  FEMALE
2015                                Kaluu             35    YES    MALE

                                                          Notes
fecha_inicio
1963          Merged with Ultron in Rage of Ultron Vol. 1. A...
1963          Dies in Secret Invasion V1:I8. Actually was se...
1963          Death: "Later while under the influence of Imm...
1963          Dies in Ghosts of the Future arc. However "he ...
1963          Dies in Fear Itself brought back because that'...
...                                                         ...
2013                                                        NaN
2014                                                        NaN
2014                                                        NaN
2014                                                        NaN
2015                                                        NaN

[173 rows x 6 columns]

# Ordenar el indice

In [31]:
# Ordena el índice de forma descendiente
avengers = avengers.sort_index(ascending=False)
print(avengers)

                                                            URL  \
fecha_inicio
2015                 http://marvel.wikia.com/Kaluu_(Earth-616)#
2015          http://marvel.wikia.com/Sam_Alexander_(Earth-6...
2014             http://marvel.wikia.com/Ava_Ayala_(Earth-616)#
2014          http://marvel.wikia.com/Victor_Alvarez_(Earth-...
2014          http://marvel.wikia.com/Adam_Brashear_(Earth-6...
...                                                         ...
1900          http://marvel.wikia.com/Emery_Schaub_(Earth-616)#
1900          http://marvel.wikia.com/James_Santini_(Earth-6...
1900          http://marvel.wikia.com/Elvin_Haliday_(Earth-6...
1900          http://marvel.wikia.com/William_Baker_(Earth-6...
1900           http://marvel.wikia.com/Julie_Power_(Earth-616)#

                      nombre  n_apariciones actual  genero  \
fecha_inicio
2015                   Kaluu             35    YES    MALE
2015           Sam Alexander             78    YES    MALE
2014               Ava Ayala             49    YES  FEMALE
2014          Victor Alvarez             45    YES    MALE
2014           Adam Brashear             29    YES    MALE
...                      ...            ...    ...     ...
1900            Emery Schaub             26    YES    MALE
1900           James Santini             40    YES    MALE
1900           Elvin Haliday            158     NO    MALE
1900           William Baker            355     NO    MALE
1900             Julie Power            153    YES  FEMALE

                                                          Notes
fecha_inicio
2015                                                        NaN
2015                                                        NaN
2014                                                        NaN
2014                                                        NaN
2014                                                        NaN
...                                                         ...
1900                                                        NaN
1900                                                        NaN
1900                                                        NaN
1900          Died in Identity_Disc_Vol_1_1. Later was revea...
1900                                                        NaN

[173 rows x 6 columns]

# Resetear el indice

In [32]:
# Resetea el índice

avengers = avengers.reset_index()
print(avengers)

     fecha_inicio                                                URL  \
0            2015         http://marvel.wikia.com/Kaluu_(Earth-616)#
1            2015  http://marvel.wikia.com/Sam_Alexander_(Earth-6...
2            2014     http://marvel.wikia.com/Ava_Ayala_(Earth-616)#
3            2014  http://marvel.wikia.com/Victor_Alvarez_(Earth-...
4            2014  http://marvel.wikia.com/Adam_Brashear_(Earth-6...
..            ...                                                ...
168          1900  http://marvel.wikia.com/Emery_Schaub_(Earth-616)#
169          1900  http://marvel.wikia.com/James_Santini_(Earth-6...
170          1900  http://marvel.wikia.com/Elvin_Haliday_(Earth-6...
171          1900  http://marvel.wikia.com/William_Baker_(Earth-6...
172          1900   http://marvel.wikia.com/Julie_Power_(Earth-616)#

             nombre  n_apariciones actual  genero  \
0             Kaluu             35    YES    MALE
1     Sam Alexander             78    YES    MALE
2         Ava Ayala             49    YES  FEMALE
3    Victor Alvarez             45    YES    MALE
4     Adam Brashear             29    YES    MALE
..              ...            ...    ...     ...
168    Emery Schaub             26    YES    MALE
169   James Santini             40    YES    MALE
170   Elvin Haliday            158     NO    MALE
171   William Baker            355     NO    MALE
172     Julie Power            153    YES  FEMALE

                                                 Notes
0                                                  NaN
1                                                  NaN
2                                                  NaN
3                                                  NaN
4                                                  NaN
..                                                 ...
168                                                NaN
169                                                NaN
170                                                NaN
171  Died in Identity_Disc_Vol_1_1. Later was revea...
172                                                NaN

[173 rows x 7 columns]